<!DOCTYPE html>
<html>
    <head>
        <%# <link href='https://cdn.lineicons.com/1.0.1/LineIcons.min.css' rel='stylesheet'> %>
        <title>Plab - Clean & Minimal Ruby on Rails + Bootstrap Admin Dashboard</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="d-table">
                <div class="d-tablecell">
                    <span class="loader">
                        <span class="loader-inner"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
        <!-- Skip Main layout, sidebar, header on authentication -->
        <% if (controller_name === 'auth') %>
            <%= yield %>
        <% else %>
            <%= render partial: "layouts/navbar" %>
            <%= render partial: "layouts/sidebar" %>
            <!-- Main Content Wrapper -->
            <div class="main-content d-flex flex-column hide-sidemenu">
                <%= yield %>
            
                <%= render partial: "layouts/footer" %>
            </div>
        <% end %>
    </body>
</html>
